<h1>Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
    <li>List popular languages for Data Science</li>
    <li>List some of the most commonly used libraries used by Data Scientists</li>
    <li>List popular Data science tools</li>
    <li>Evaluate some Arithmetic expressions</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>Java</li>
<li>Julia</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Pandas</li>
    <li>Numpy</li>
    <li>Seaborn</li>
    <li>Scikit-learn</li>
</ol>

<table>
    <th>Data Science Tools</th>
    <tr><td>Jupyter Notebooks</td></tr>
    <tr><td>Zeppelin Notebooks</td></tr>
    <tr><td>R Studioâ€™s</td></tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author</h2>
Hayder CHAKROUN